.about-section-1 h1{
    font-size: 72px;
    margin-bottom: 60px;
    color: #2B3B49;
}
.about-section-1 p{
    font-size: 27px;
    color: #2B3B49;
}
.about-section-2{
    margin-top: 60px;
}
.about-section-2 h3{
    font-size: 35px;
    margin-bottom: 60px;
    color: #2B3B49;
}
.about-section-2 p{
    font-size: 27px;
    color: #2B3B49;
}
.about-section-3{
    margin-top: 60px;
    
}
.about-section-3 h1{
    font-size: 72px;
    margin-bottom: 60px;
    color: #2B3B49;
}
.about-section-3 p{
    font-size: 27px;
    color: #2B3B49;
}
.about-section-4{
    margin-top: 60px;
    margin-bottom: 50px;
}
.about-section-4 h3{
    font-size: 35px;
    margin-bottom: 60px;
    color: #2B3B49;
}
.about-section-4 p{
    font-size: 27px;
    color: #2B3B49;
}

.about-3{
    background-color: #FFDDE3;
    margin-top: 60px;
}